.container-img {
  position: relative;
  width: 300px;
  height: 150px;
}
.event {
  width: 300px;
  position: relative;
}

.event .date {
  top: 10px;
  left: 10px;
}

.event .actions {
  top: 0px;
  right: 5px;
}

.event .like{
  top: 125px;
  right: 5px
}