.card{
  max-width: 300px;
  max-height: 100px;
  width: 100%;
  position: relative;
}
.date {
  position: absolute;
  top: 5px;
  left: 10px;
}
.delete-button {
  position: absolute;
  right: 10px;
  top: 5px;
}
.hearth-button {
  position: absolute;
  right: 10px;
  bottom: 5px;
}